<app-header></app-header>
<!doctype html>

<html lang="en">
<head>
  <title >
    Digitaal Bestelformulier
  </title>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<h1 class="label">
  Digitaal Bestelformulier
</h1>
<p>Selecteer een klant!</p>
<div class="container">
  <select
    name="customer"
    class="rounded-inputs20 select-select col-md-3"
    [(ngModel)]="SelectedCustomer"
    (change)="selected()"
  >
    <option *ngFor="let customer of customersArr" [ngValue]="customer">
      {{ customer['Login'].lastName }}
    </option>

  </select>
  <div class="container">
    <form [formGroup]="DigitalForm" (ngSubmit)="onSubmit(DigitalForm.value)">
      <div class="form-group">
        <div class="label">
          <label for="Title">Klant_Id</label>
        </div>
        <input
          type="text"
          id="Title"
          name="Title"
          class="form-control"
          formControlName="Title"
          value="{{ DropDownCustomerSelected.id }}"
        />
      </div>
      <div class="form-group">
        <div class="label">
          <label for="Voornaam">Voornaam</label>
        </div>
        <input
          type="text"
          id="Voornaam"
          name="Voornaam"
          class="form-control"
          formControlName="Voornaam"
          value="{{ DropDownCustomerSelected.firstName }}"
        />
      </div>
      <div class="form-group">
        <div class="label">
          <label for="Achternaam">Achternaam</label>
        </div>
        <input
          type="text"
          id="Achternaam"
          name="Achternaam"
          class="form-control"
          formControlName="Achternaam"
          value="{{ DropDownCustomerSelected.lastName }}"
        />
      </div>
      <div class="form-group">
        <div class="label">
          <label for="Geslacht">Geslacht</label>
        </div>
        <input
          type="text"
          id="Geslacht"
          name="Geslacht"
          class="form-control"
          formControlName="Geslacht"
          value="{{ DropDownCustomerSelected.gender }}"
        />
      </div>
      <div class="form-group">
        <div class="label">
          <label for="Email">Email</label>
        </div>
        <input
          type="text"
          id="Email"
          name="Email"
          class="form-control"
          formControlName="Email"
          value="{{DropDownCustomerSelected.email }}"
        />
      </div>
      <div class="form-group">
        <div class="label">
          <label for="Adres">Selecteer het afleveradres</label>
        </div>
        <select
          name="Adres"
          id="Adres"
          formControlName="Adres"
          class="rounded-inputs20 select-select col-md-3"
          [(ngModel)]="SelectedAddress"
          (change)="selected()"
        >
          <option *ngFor="let adres of adressessListSelected" [ngValue]="adres">
            {{ adres.addressLine1 }} {{ adres.addressLine2 }}
          </option>

        </select>
        <p class="label">{{DropDownSelectedAddress}}</p>
      </div>
      <div class="form-group">
        <div class="label">
          <label for="Verkoopkantoor">Verkoopkantoor</label>
        </div>
        <input
          type="text"
          class="form-control form-control-sm"
          id="Verkoopkantoor"
          name="Verkoopkantoor"
          formControlName="Verkoopkantoor"
          value="{{ salesBranchListSelected }}"
        />
      </div>
      <div class="form-group">
        <div class="label">
          <label for="Hulpmiddelen">Hulpmiddelen</label>
        </div>
        <textarea
          id="Hulpmiddelen"
          placeholder="Schrijf wat u wilt bestellen"
          formControlName="Hulpmiddelen"
        ></textarea>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>

</div>
</body>
</html>
